body {
  max-width: 1400px;
  margin: auto;
}

#header {
  background-color: #020F2A;
  min-height: 500px;
  background-image: url("../img/header/logo.png"), url("../img/header/header-bg.avif");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left top;
}

main{
  background-color: #020F2A;
}

#header h1 {
  font-size: 50px;
}

footer{
  border-top: 2px solid white;
  background-color: #020F2A;
}